<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercices Gratuit</title>
    <link rel="stylesheet" href="template1.css">
</head>
<body>
    <header>
        <h1>Exercices <span>Gratuit</span></h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <aside>
            <ul>
                <li><a href="#">Links</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">Ajax</a></li>
                <li><a href="#">JQuery</a></li>
                <li><a href="#">Web design</a></li> 
                <li><a href="#">Web Programming</a></li>
            <li><a href="#">Consent Creation</a></li>
            <li><a href="#">Internet Marketing</a></li>
            <li><a href="#">XHTML Templates</a></li>
            </ul>
        </aside>
        <article>
            <section>
                <header>
                    <h2>
                        Titre de la section centrale
                    </h2>
                </header>
                <article>
                    <h3>Titre 1</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum cum rerum debitis ipsum quia nemo ullam alias nam at, sit harum veritatis dolore veniam vel mollitia, amet, beatae deleniti tempore.
                    </p>
                </article>
                <article>
                    <h3>Titre 2</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum fugiat adipisci aperiam ut vitae perspiciatis non nulla reiciendis distinctio. Quae sit placeat deleniti consequatur fuga cupiditate praesentium repudiandae recusandae suscipit.
                    </p>
                </article>
                <article>
                    <h3>Titre 3</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit id dolor voluptatum velit, odit quam magnam. Eos, accusantium deleniti pariatur cupiditate officiis est ducimus. Officia deserunt sed reprehenderit animi veniam?
                    </p>
                </article>
            </section>
            <footer>
                <ul>
                    <li><a href="#">florida web design</a></li>
                    <li><a href="#">web tutorials</a></li>
                    <li><a href="#">html codes</a></li>
                    <li><a href="#">free templates</a></li>
                     
                </ul>
            </footer>
        </article>
    </main>
    
</body>
</html>