<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ma première page avec du style</title>
    <link rel="stylesheet" href="Amina.css">
  </head>
  <body>
    <!--Menu de Navigation du site-->
    <ul class="navbar">
      <li><a href="CV.html">Mon CV</a></li>
      <li><a href="Formulaire.html">Formulaire de Contact</a></li>
      <li><a href="maquette.html">Maquette</a></li>
    </ul>
    <!--contenu principal-->
    <h1>Ma première page avec du style</h1>
    <p>Bienvenue sur ma page avec du style!</p>
    <p>
      Il lui manque des images, mais au moins, elle a du style. Et elle a des
      liens, même s'ils ne mènent nulle part…
    </p>
    <p>Je devrais étayer, mais je ne sais comment encore.</p>
    
    <!-- Signer et dater la page, c'est une question de politesse! -->
    <address>
      Fait le 4 novembre 2021<br />
      par moi.
    </address>
  </body>
</html>
