<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="maquette.css">
    <title>Maquette</title>
</head>
<body>
<h1>BOOTCAMP PSEJ</h1>
   <header>
    <nav class="navbar">
        <ul class="nav-left">
            <li><a href="#">HOME</a>
                <ul class="sous-menu">
                    <li><a href="#">menu1</a></li>
                    <li><a href="#">menu2</a></li>
                    <li><a href="#">menu3</a></li>
                </ul>
            </li>
            <li><a href="#">FEATURES</a></li>
            <li><a href="#">POSTYPES</a></li>
            <li><a href="#">PAGES</a></li>
            <li><a href="#">CATEGORIES</a>
                <ul class="sous-menu">
                    <li><a href="#">menu4</a></li>
                    <li><a href="#">menu5</a></li>
                    <li><a href="#">menu6</a></li>
                </ul>
            </li>

            <li><a href="#">CONTACT</a></li>
            </ul>
    
    <ul class="nav-right">
        <li><a href="logo"><img src="img/icones/twitter.png"></a></li>
        <li><a href="logo"><img src="img/icones/facebook.png"></a></li>
        <li><a href="logo"><img src="img/icones/linkdIn.png"></a></li>
        <li><a href="logo"><img src="img/icones/instagram.png"></a></li>
        <li><a href="logo"><img src="img/icones/google-+.png"></a></li> 
    </ul>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur tempore quidem inventore possimus beatae perspiciatis ipsum iste veritatis, nemo deserunt accusamus quaerat officia doloribus nihil ut cumque dolores. Esse, natus?
        Numquam veritatis tempore similique ea recusandae earum quo reprehenderit debitis cupiditate doloremque id culpa, repellat explicabo a, itaque eum consectetur? Facere, quod. Iure nisi repellat architecto eligendi mollitia temporibus porro?
        Quos non, labore laborum repellendus aspernatur qui optio saepe sequi quas ipsam accusamus esse corrupti, dicta debitis amet pariatur. Quaerat, assumenda nulla! Repellat exercitationem dignissimos deserunt delectus saepe itaque a?
        Eius vero necessitatibus est, ad nobis qui ab odio tempore quae molestiae accusantium dicta ut, inventore minus iure sint! Rerum molestiae officia, velit illo deleniti perferendis esse nostrum sit vero?
    <p>
    </nav>
   </header>
   
<section class="container">
    <div class="contain">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, magni ab! Corporis praesentium nulla similique iure, eum numquam consectetur amet? Ipsum hic ad officiis illum? Facilis optio obcaecati sapiente quos?
    Voluptatibus reprehenderit est quod repudiandae error odit eos facere? Incidunt esse aut aperiam impedit ipsam quia nisi nam dolorum nesciunt tempora dolores sapiente, culpa voluptate facere, officiis eos provident eligendi.
    Veritatis, nesciunt ratione unde, distinctio numquam laudantium tempore in omnis reprehenderit deleniti aut quia dolorum autem fuga corrupti tenetur necessitatibus. Mollitia debitis deserunt reprehenderit inventore quos molestias autem voluptas quidem.
</div>
    <div class="baniere">
<img src="img/images/img8.jpg">
<img src="img/images/img9.jpg">
<img src="img/images/img10.jpg">
<img src="img/images/img11.jpg">
<img src="img/images/img13.jpg">
<img src="img/images/img14.jpg">

    </div>
</section>

<footer>
    <div class="footer">
        <span>copyright &copy; 2021 BOOTCAM PSEJ</span>
        <img src="img/images/logo-psej.png" width="10%">
    </div>
</footer>
</body>
</html>