*{
    box-sizing: border-box;
}
/*-------------------------------------------------------------------*/
/*-------------------------Exemple 1--------------*/
/*----------------------------------------------------------*/
.container{
    background-color: lightblue;
    padding: 15px;
}
.article{
    background-color: #7cbacf;
    text-align: justify;
    width: 30%;
   padding: 30px;
}
#special{
    height: 800px;
    display: flex;
}
